In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#imported the necessary Library

In [3]:
df=pd.read_excel(r'C:\Users\HP\Downloads\super_.xlsx')

df.head()

#Let view The data

,Order ID,Order Date,Unit Cost,Unit Price,Order Qty,Channel,Promotion Name,Product Name,Product Sub Category,Product Category,State,Zone
0,7077,2013-03-18,76.094968,304.00,9,Store,New Year Promotion,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Cameras and camcorders,Imo,South East
1,117,2012-02-23,7.491753,12.99,8,Store,New Year Promotion,Kekule 512MB MP3 Player E51 Blue,MP4&MP3,Audio,Imo,South East
2,7018,2012-01-11,10.122338,159.99,9,Store,New Year Promotion,Kekule DVD 9-Inch Player Portable M300 Silver,Movie DVD,"Music, Movies and Audio Books",Imo,South East
3,140,2014-02-13,0.576153,25.69,18,Store,Deeper Promotion,NT Bluetooth Stereo Headphones E52 Pink,Bluetooth Headphones,Audio,Delta,South South
4,491,2013-01-17,108.508777,304.00,9,Online,Hammartan Promotion,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Cameras and camcorders,Kwara,North Central

In [6]:
#The shape of the data

shaping=df.shape

print(f'The dataset is made of {shaping[0]} columns and {shaping[1]} rows')

The dataset is made of 15000 columns and 12 rows

what type of analysis we want to carry Out from This dataset??

Market Basket Analysis

But First Let get the table Description

In [7]:
#Import a  AI Pandas to give us A brief Understanding about the Columns Detail understanding

import sketch 

df.sketch.ask('give a friendly names and single sentences description of each columns? (format output as HTML List)')

In [8]:
#we do column Selective

df2=df.loc[:,['Order Date','Unit Cost','Product Name','Product Sub Category','State']]

In [9]:
df2.head()

,Order Date,Unit Cost,Product Name,Product Sub Category,State
0,2013-03-18,76.094968,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Imo
1,2012-02-23,7.491753,Kekule 512MB MP3 Player E51 Blue,MP4&MP3,Imo
2,2012-01-11,10.122338,Kekule DVD 9-Inch Player Portable M300 Silver,Movie DVD,Imo
3,2014-02-13,0.576153,NT Bluetooth Stereo Headphones E52 Pink,Bluetooth Headphones,Delta
4,2013-01-17,108.508777,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Kwara

Market Basket Analysis

In [15]:
#set order date to Index

df2.set_index('Order Date')

,Unit Cost,Product Name,Product Sub Category,State
Order Date,,,,
2013-03-18,76.094968,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Imo
2012-02-23,7.491753,Kekule 512MB MP3 Player E51 Blue,MP4&MP3,Imo
2012-01-11,10.122338,Kekule DVD 9-Inch Player Portable M300 Silver,Movie DVD,Imo
2014-02-13,0.576153,NT Bluetooth Stereo Headphones E52 Pink,Bluetooth Headphones,Delta
2013-01-17,108.508777,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Kwara

In [20]:
#getting total daily Sales.

(df2.assign(new_col=df2['Unit Cost'].sum()).resample('D'))

In [25]:
#reset the Inndex so as to check if the Orderdate is in date format

df2=df2.reset_index()

In [26]:
#checking the info

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order Date            15000 non-null  datetime64[ns]
 1   Unit Cost             15000 non-null  float64
 2   Product Name          15000 non-null  object
 3   Product Sub Category  15000 non-null  object
 4   State                 15000 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 586.1+ KB

In [27]:
#we setting it back to index

df2.set_index('Order Date')

,Unit Cost,Product Name,Product Sub Category,State
Order Date,,,,
2013-03-18,76.094968,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Imo
2012-02-23,7.491753,Kekule 512MB MP3 Player E51 Blue,MP4&MP3,Imo
2012-01-11,10.122338,Kekule DVD 9-Inch Player Portable M300 Silver,Movie DVD,Imo
2014-02-13,0.576153,NT Bluetooth Stereo Headphones E52 Pink,Bluetooth Headphones,Delta
2013-01-17,108.508777,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Kwara
...,...,...,...,...
2012-04-07,16.240455,Kekule USB Cable M250 Blue,Cameras & Camcorders Accessories,Kebbi
2012-04-24,55.387212,WWI Projector 720p DLP56 White,Projectors & Screens,Ogun
2012-11-22,363.634986,"A. Datum SLR Camera 35"" X358 Gold",Digital SLR Cameras,Cross River
2013-05-10,113.237461,Simpson LCD20W M240 Black,Monitors,Kwara
2014-03-06,10.936943,Kekule USB Wave Multi-media Keyboard E280 Black,Computers Accessories,Edo

In [46]:
#the total Sum of unit_cost 
total=df2['Unit Cost'].sum()
print(f'the total Sum of Unit Cost is {total}')

the total Sum of Unit Cost is 1866376.9851515666

In [52]:
#Daily Sales


Daily_Sales_df=df.set_index(df['Order Date'])

In [55]:
#Daily Sales

(Daily_Sales_df.assign(Daily_Sales=Daily_Sales_df['Unit Cost'])).resample('D')['Unit Cost'].sum().sort_values(ascending=False)

Order Date
2012-04-05    6105.593923
2012-04-03    5112.187662
2013-11-24    5027.092489
2012-03-14    4985.770452
2012-08-14    4399.379280
                 ...
2014-03-17     206.221685
2013-08-24     173.906909
2014-02-03     168.084232
2013-01-15     157.905571
2013-11-08      51.869826
Name: Unit Cost, Length: 1096, dtype: float64

In [64]:
#getting the yearly Sales 

Yearly_Sales_df=df2.set_index(df2['Order Date'])

In [65]:
#let look At Yearly Sales?

(Yearly_Sales_df.assign(Yearly_Sales=Daily_Sales_df['Unit Cost'])).resample('Y')['Unit Cost'].sum().sort_values(ascending=False)

Order Date
2012-12-31    752835.721939
2013-12-31    563462.157803
2014-12-31    506593.712746
2011-12-31     43485.392663
Name: Unit Cost, dtype: float64

In [69]:
df2.set_index(['Order Date'])

,Unit Cost,Product Name,Product Sub Category,State,State_transaction
Order Date,,,,,
2013-03-18,76.094968,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Imo,76.0949677462088_Imo
2012-02-23,7.491753,Kekule 512MB MP3 Player E51 Blue,MP4&MP3,Imo,7.491752797549266_Imo
2012-01-11,10.122338,Kekule DVD 9-Inch Player Portable M300 Silver,Movie DVD,Imo,10.122337684822902_Imo
2014-02-13,0.576153,NT Bluetooth Stereo Headphones E52 Pink,Bluetooth Headphones,Delta,0.5761532632676208_Delta
2013-01-17,108.508777,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Kwara,108.50877679753599_Kwara
...,...,...,...,...,...
2012-04-07,16.240455,Kekule USB Cable M250 Blue,Cameras & Camcorders Accessories,Kebbi,16.24045461946398_Kebbi
2012-04-24,55.387212,WWI Projector 720p DLP56 White,Projectors & Screens,Ogun,55.38721210513158_Ogun
2012-11-22,363.634986,"A. Datum SLR Camera 35"" X358 Gold",Digital SLR Cameras,Cross River,363.634985834246_Cross River
2013-05-10,113.237461,Simpson LCD20W M240 Black,Monitors,Kwara,113.23746133375562_Kwara
2014-03-06,10.936943,Kekule USB Wave Multi-media Keyboard E280 Black,Computers Accessories,Edo,10.93694308416161_Edo

In [71]:
df2['State_transaction'] = df2['Order Date'].astype(str)+'_'+df2['State'].astype(str)

df2[:5]

,Order Date,Unit Cost,Product Name,Product Sub Category,State,State_transaction
0,2013-03-18,76.094968,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Imo,2013-03-18_Imo
1,2012-02-23,7.491753,Kekule 512MB MP3 Player E51 Blue,MP4&MP3,Imo,2012-02-23_Imo
2,2012-01-11,10.122338,Kekule DVD 9-Inch Player Portable M300 Silver,Movie DVD,Imo,2012-01-11_Imo
3,2014-02-13,0.576153,NT Bluetooth Stereo Headphones E52 Pink,Bluetooth Headphones,Delta,2014-02-13_Delta
4,2013-01-17,108.508777,Kekule SLR Camera M143 Grey,Digital SLR Cameras,Kwara,2013-01-17_Kwara

In [89]:
df3=pd.crosstab(df2['State_transaction'],df2['Product Sub Category'])

In [90]:
def encode(item_freq):
    res = 0
    if item_freq > 0:
        res = 1
    return res
    
basket_input = df3.applymap(encode)

In [91]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [92]:
model= apriori(basket_input, min_support=0.001, use_colnames=True)

rules = association_rules(model, metric="lift")

rules.head()

C:\Users\HP\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bluetooth Headphones),(Computers Accessories),0.031298,0.159672,0.004002,0.127869,0.800824,-0.000995,0.963534,-0.204297
1,(Computers Accessories),(Bluetooth Headphones),0.159672,0.031298,0.004002,0.025064,0.800824,-0.000995,0.993606,-0.228379
2,(Bluetooth Headphones),(Desktops),0.031298,0.041970,0.001231,0.039344,0.937432,-0.000082,0.997266,-0.064459
3,(Desktops),(Bluetooth Headphones),0.041970,0.031298,0.001231,0.029340,0.937432,-0.000082,0.997983,-0.065130
4,(Camcorders),(Cameras & Camcorders Accessories),0.097794,0.052950,0.004413,0.045121,0.852134,-0.000766,0.991800,-0.161309

In [94]:
rules.sort_values(["support", "confidence","lift"],axis = 0, ascending = False)[:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
37,(Monitors),(Computers Accessories),0.064546,0.159672,0.008312,0.128776,0.806504,-0.001994,0.964537,-0.204122
56,"(Printers, Scanners & Fax)",(Digital SLR Cameras),0.096254,0.104669,0.008312,0.086354,0.825019,-0.001763,0.979954,-0.190075
57,(Digital SLR Cameras),"(Printers, Scanners & Fax)",0.104669,0.096254,0.008312,0.079412,0.825019,-0.001763,0.981704,-0.191520
36,(Computers Accessories),(Monitors),0.159672,0.064546,0.008312,0.052057,0.806504,-0.001994,0.986825,-0.222096
50,"(Printers, Scanners & Fax)",(Digital Cameras),0.096254,0.100564,0.007799,0.081023,0.805687,-0.001881,0.978736,-0.210649
51,(Digital Cameras),"(Printers, Scanners & Fax)",0.100564,0.096254,0.007799,0.077551,0.805687,-0.001881,0.979724,-0.211445
58,(Smart phones & PDAs ),(Digital SLR Cameras),0.085274,0.104669,0.007491,0.087846,0.839273,-0.001435,0.981557,-0.173116
59,(Digital SLR Cameras),(Smart phones & PDAs ),0.104669,0.085274,0.007491,0.071569,0.839273,-0.001435,0.985238,-0.176205
81,(Projectors & Screens),"(Printers, Scanners & Fax)",0.087327,0.096254,0.007388,0.084606,0.878986,-0.001017,0.987275,-0.131075
80,"(Printers, Scanners & Fax)",(Projectors & Screens),0.096254,0.087327,0.007388,0.076759,0.878986,-0.001017,0.988554,-0.132199

The resulting shows that the different most popular product combinations that are frequently bought together are:
    
    Monitors and Computer Accessories
    Printers,Scanner & fax and Digital SRL Cameras
    smart Phones & Digital and Cameras
    Projectors & Screen and printers&Scanners
    Print,Scanners & Scanners and Project Screens

So every Super Market irrespect of the Location within nigeria, physical store or onlilne Store, the Product display shouoold be Arrange according to this relation this Aprior algorithm has created for us.This will aid Sells and improve sales. 
Because The Algothrim as help to under the generalize custumer behavior on our product. They utilize these insights to upsell, send consumers targeted advertisements, and come up with personalized product recommendations.